<section>
<div class="column column--2of3">
<div class="devInfo">
<div class="grid grid--three">
    {% for i, j, l, m in tool %}
    <div class="column">
        <div class="card project parallax card-glow card-shadow-pulse card-tilt">
            <a href="{% url 'User:Rentdetails' i.id %}" class="tool">
                {% if i.gallery_file %}
                    <img class="tool__thumbnail" src="{{ i.gallery_file.url }}" alt="tool image" />
                {% else %}
                    <img class="tool__thumbnail" src="media/Assets/default.jpg" alt="default image" />
                {% endif %}
                <div class="card__body">
                    <h3 class="tool__name">{{ i.tool_name }}</h3>
                    <p class="tool__info">{{ i.tool_details }}</p>
                    <p class="tool__price">Price per day: {{ i.tool_priceperday }}</p>
                    <p class="owner_contact">Contact: {{ i.user.user_contact }}</p>
                    <p class="distance">Distance: {% if m is not None %}{{ m|floatformat:2 }} km{% else %}N/A{% endif %}</p>
                    
                    <div class="col-sm-4 text-center">
                        {% if j > 0 %}
                        <p class="rating">Rating</p>
                        <h1><b><span class="rating-text">{{ j|floatformat:0 }}</span> / 5</b></h1>
                        <div class="mb-3">
                            {% for k in ar %}
                                {% if k <= j %}
                                    <i class="fas fa-star text-warning"></i>
                                {% else %}
                                    <i class="fas fa-star star-light"></i>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <h3><span class="revcount">{{ i.tbl_rating_set.count }}</span> Review(s)</h3>
                        {% else %}
                        <p class="rating">Rating</p>
                        <h1><b><span class="rating-text">0</span> / 5</b></h1>
                        <div class="mb-3">
                            {% for k in ar %}
                                <i class="fas fa-star star-light"></i>
                            {% endfor %}
                        </div>
                        <h3>No reviews yet</h3>
                        {% endif %}
                    </div>
                    <div>
                        <a href="{% url 'User:Rentdetails' i.id %}">
                            <input class="btn btn--sub btn--lg btn--spaced" type="submit" value="Rent" />
                        </a>
                        {% if l == 0 %}
                        <a href="{% url 'User:bookmark' i.id 'tool' %}">
                            <input class="btn btn--spaced" type="submit" value="Save" />
                        </a>
                        {% else %}
                        <a href="{% url 'User:deletebookmark' l 'tool' %}">
                            <input class="btn btn--spaced" type="submit" value="Unsave" />
                        </a>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
</div>
</div>
</div>
</section>
